.App {
  display: flex;
  flex-direction: row;
} 

@media (max-width:768px){
  .App {
    display: flex;
    flex-direction: column;
  } 
}

.app-left{

}

.app-right{  

}

.checked {
  color: black;
}

.unchecked {
  color: gray;
}

.headRow {
  height: 40px;
}  

.dot {
  height: 5px;
  width: 5px;
  background-color: rgb(7, 2, 2);
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
  vertical-align: middle;
  
}

.space {
  margin: 0 5px;
}

.image{
  background-repeat: no-repeat;
  background-size: 300px 300px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
